<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/LoginAndRegister/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/LoginAndRegister/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/LoginAndRegister/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/LoginAndRegister/css/style.css">

    <title>Login in</title>
</head>
<body>
    <div class="half">
        @RenderBody()
    </div>



    <script src="~/LoginAndRegister/js/jquery-3.3.1.min.js"></script>
    <script src="~/LoginAndRegister/js/popper.min.js"></script>
    <script src="~/LoginAndRegister/js/bootstrap.min.js"></script>
    <script src="~/LoginAndRegister/js/main.js"></script>
</body>
</html>